body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game {
    width: 400px;
    height: 600px;
    background-color: lightgray;
    margin: 0 auto;
    position: relative;
}

.ball {
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
}
